/* Helpers */

.container-full {
  margin: 0 auto;
  width: 100%;
}

.grey {
	background-color: #58595b;
	margin: 0 auto;
	width: 100%;
	color: #fff;
}

.product-header {
	padding: 20px 20px;
}

.bluebox {
	background-color: #3c6eb4;
  height: 85px;
}

.top-space {
  margin-top: 100px;
}

.top-margin {
  margin-top: 13px;
}

.feed-space {
  padding-top: 15px;
  padding-bottom: 35px;
}

/* Header doc */

.border {
  border-right: 2px solid #ccc;
}

.bluebox h3 {
  color: #ccc;
  margin-top: 28px;
}

.bluebox a {
	color: #ccc;
	text-decoration: none;
}

.bluebox a:hover {
	color: #fff;
	text-decoration: none;
}

.header-icon {
  color: #fff;
  margin-right: 15px;
}

img.header-icon {
	padding-bottom: 4px;
	margin-right: 20px;
}

/* Feed */

.white {
  background-color: #fff;
  color: #000;
  margin: 15px auto 25px;
}

.white h3 {
  color: #3c6eb4;
  margin-top: 12px;
}

.white p {
  line-height: 1.15;
}

.white img {
	width: 80px;
	position: absolute;
	margin-left: -8px;
	margin-top: 7px;
}

a:hover.title,
a:focus.title {
  text-decoration: none;
}

.readme {
  background-color: #3c6eb4;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-right: 60px;
  margin-bottom: -15px;
  padding: 5px 10px;
}

a:hover.readme {
  color: #fff;
}

a:focus.readme {
  color: #fff;
  text-decoration: none;
}

p.day {
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  line-height: 1.05;
  margin-top: -3px;
}

p.month {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 0px;
  text-align: right;
}

.comments {
  background-color: #294172;
  color: #fff;
  padding: 5px 10px;
  width: 60px;
  float: right;
  font-size: 16px;
}

.comment-icon {
  margin-right: 5px;
}

/* Footer resources */

.fedmag {
	background-color: #3c6eb4;
  height: 130px;
}

.fedmag a {
  color: #fff;
  text-decoration: none;
}

.fedmag h3 {
	margin-top: 36px;
}

.fedmag-img {
	margin-left: 40px;
}

.community {
	background-color: #294172;
  height: 130px;
}

.community a {
  color: #fff;
  text-decoration: none;
}

.community p {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.community-img {
	position: absolute;
  bottom: -129px;
  right: 30px;
}

/* Footer */

#footer {
  font-size: 12px;
}

li.left {
  border-left-color:#AAAAAA;
  border-left-style:solid;
  border-left-width:1px;
  display:inline;
  margin-left: -1px;
  margin-right: 1px;
  padding:0 0.75ex;
}

li.right {
  margin-right: 2px;
}

#footer ul {
	list-style: none;
}

#footer li {
	display: inline;
}

#footer a {
  font-weight: bold;
}

#footer p a:link {
  color: #4c4c4c;
}

/* special classes for small screens */

@media (max-width: 767px) {
  .border {
  	border-bottom: 2px solid #ccc;
    border-right: none;
  }
}
/* end small screens classes */

