.linkler a{
  text-decoration:none;
  color:black;
}.linkler a:hover{
  text-decoration:none;
  color:black;
}.linkler a:active{
  text-decoration:none;
  color:black;
}.linkler a:visited{
  text-decoration:none;
  color:black;
}
.linkler{
margin-top:10px;
}
.page-header h1{
	font-family: 'Suez One', serif;
	color:black;
}
.boflinki{
float:right;
font-size:100%;
display: inline;
padding: .2em .6em .3em;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}.boflinki a{
float:right;
font-size:100%;
display: inline;
padding: .2em .6em .3em;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}.boflinki a:hover{
float:right;
font-size:100%;
display: inline;
padding: .2em .6em .3em;
font-weight: bold;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25em;
}
.listele {
  padding-bottom:10px;
 border-bottom:1px solid #ddd;
}.logo{
font-size:70px;
}.normal{
text-decoration:none;
}.normal a:hover{
text-decoration:none;
}.normal a:active{
text-decoration:none;
}.normal a:visited{
text-decoration:none;
}
