
body {
  font-family: Consolas, monaco, monospace;
  margin: 40px auto;
  max-width: 1024px;
  padding: 0 10px;
  line-height: 1.6;
  background-color: #131314;
  color:#fff;
  display:block;  
}
.blog-header {
            text-align: center;
        }
hr {
  border-color: rgba(200, 200, 200, 0.6);
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  color:#da4b6d !important;
}

.tag {
  color: #faebd7;
}

[role="doc-subtitle"] {
  color: #6c6c6c;
  text-transform: uppercase;
  font-size: 10pt;
}

footer {
  color: #6c6c6c;
  font-size: 11pt;
  text-align:center
}

a {
  color: #da4b6d;
  text-decoration: none;
  font-weight: bold;
  
}

pre {
  border: 1px solid #da4b6d;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
}

figure {
  text-align: center;
  padding: 5px;
}

figure > img {
  border: 1px solid #6c6c6c;
  box-sizing: border-box;
  max-width: 100%;
}

figure > figcaption {
  font-size: 10pt;
}
.nav li {
  display:inline-block;
}
  
.glitch, .glow {
    color: #da4b6d;
    position: relative;
    font-weight: 400;
    animation: glitch 10s 10s infinite;
}

.glitch::before, .glow::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 blue;
    background: #38383b;
    overflow: hidden;
    top: 0;
    animation: noise-1 10s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
}

.glitch::after, .glow::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 red;
    background: #272729;
    overflow: hidden;
    top: 0;
    animation: noise-2 10s linear infinite alternate-reverse, glitch 5s 5s infinite;
}

@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg);
  }
  2% {
    transform: rotateX(0deg) skewX(0deg);
  }
}
@keyframes noise-1 {
  3.3333333333% {
    clip-path: inset(8px 0 87px 0);
  }
  6.6666666667% {
    clip-path: inset(25px 0 12px 0);
  }
  10% {
    clip-path: inset(41px 0 43px 0);
  }
  13.3333333333% {
    clip-path: inset(97px 0 2px 0);
  }
  16.6666666667% {
    clip-path: inset(29px 0 31px 0);
  }
  20% {
    clip-path: inset(75px 0 19px 0);
  }
  23.3333333333% {
    clip-path: inset(79px 0 6px 0);
  }
  26.6666666667% {
    clip-path: inset(87px 0 11px 0);
  }
  30% {
    clip-path: inset(86px 0 6px 0);
  }
  33.3333333333% {
    clip-path: inset(65px 0 14px 0);
  }
  36.6666666667% {
    clip-path: inset(35px 0 44px 0);
  }
  40% {
    clip-path: inset(1px 0 86px 0);
  }
  43.3333333333% {
    clip-path: inset(69px 0 14px 0);
  }
  46.6666666667% {
    clip-path: inset(62px 0 32px 0);
  }
  50% {
    clip-path: inset(79px 0 18px 0);
  }
  53.3333333333% {
    clip-path: inset(99px 0 1px 0);
  }
  56.6666666667% {
    clip-path: inset(95px 0 4px 0);
  }
  60% {
    clip-path: inset(38px 0 6px 0);
  }
  63.3333333333% {
    clip-path: inset(48px 0 37px 0);
  }
  66.6666666667% {
    clip-path: inset(98px 0 1px 0);
  }
  70% {
    clip-path: inset(58px 0 29px 0);
  }
  73.3333333333% {
    clip-path: inset(16px 0 8px 0);
  }
  76.6666666667% {
    clip-path: inset(51px 0 26px 0);
  }
  80% {
    clip-path: inset(19px 0 42px 0);
  }
  83.3333333333% {
    clip-path: inset(63px 0 1px 0);
  }
  86.6666666667% {
    clip-path: inset(89px 0 1px 0);
  }
  90% {
    clip-path: inset(44px 0 18px 0);
  }
  93.3333333333% {
    clip-path: inset(64px 0 16px 0);
  }
  96.6666666667% {
    clip-path: inset(93px 0 8px 0);
  }
  100% {
    clip-path: inset(11px 0 46px 0);
  }
}
@keyframes noise-2 {
  0% {
    clip-path: inset(56px 0 8px 0);
  }
  3.3333333333% {
    clip-path: inset(81px 0 20px 0);
  }
  6.6666666667% {
    clip-path: inset(93px 0 1px 0);
  }
  10% {
    clip-path: inset(73px 0 14px 0);
  }
  13.3333333333% {
    clip-path: inset(84px 0 8px 0);
  }
  16.6666666667% {
    clip-path: inset(98px 0 2px 0);
  }
  20% {
    clip-path: inset(6px 0 19px 0);
  }
  23.3333333333% {
    clip-path: inset(60px 0 6px 0);
  }
  26.6666666667% {
    clip-path: inset(20px 0 36px 0);
  }
  30% {
    clip-path: inset(52px 0 44px 0);
  }
  33.3333333333% {
    clip-path: inset(62px 0 4px 0);
  }
  36.6666666667% {
    clip-path: inset(2px 0 81px 0);
  }
  40% {
    clip-path: inset(13px 0 70px 0);
  }
  43.3333333333% {
    clip-path: inset(97px 0 1px 0);
  }
  46.6666666667% {
    clip-path: inset(74px 0 23px 0);
  }
  50% {
    clip-path: inset(56px 0 13px 0);
  }
  53.3333333333% {
    clip-path: inset(59px 0 23px 0);
  }
  56.6666666667% {
    clip-path: inset(33px 0 48px 0);
  }
  60% {
    clip-path: inset(28px 0 70px 0);
  }
  63.3333333333% {
    clip-path: inset(28px 0 1px 0);
  }
  66.6666666667% {
    clip-path: inset(45px 0 15px 0);
  }
  70% {
    clip-path: inset(10px 0 49px 0);
  }
  73.3333333333% {
    clip-path: inset(52px 0 47px 0);
  }
  76.6666666667% {
    clip-path: inset(28px 0 43px 0);
  }
  80% {
    clip-path: inset(53px 0 26px 0);
  }
  83.3333333333% {
    clip-path: inset(50px 0 9px 0);
  }
  86.6666666667% {
    clip-path: inset(14px 0 13px 0);
  }
  90% {
    clip-path: inset(70px 0 4px 0);
  }
  93.3333333333% {
    clip-path: inset(85px 0 16px 0);
  }
  96.6666666667% {
    clip-path: inset(59px 0 2px 0);
  }
  100% {
    clip-path: inset(65px 0 30px 0);
  }
}
